/* style.css */
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f2f0;
    color: #000000; /* Black text color */
}

/* Color palette */
:root {
    --primary-color: #5d707e;  /* Navy */
    --secondary-color: #d4a696;  /* Rose */
    --accent-color: #86ab8a;   /* Moss */
    --highlight-color: #c17661; /* Terracotta */
}

/* Header and navigation */
header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 0px;
}

header img {
    width: 100%;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Sections */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 0px;
    background-color: var(--primary-color);
}

/* Links in Footer */
footer a {
    color: #fff;
    text-decoration: none;
}

footer img {
    width: 100%;
    
}

footer a:hover {
    text-decoration: underline;
}
